/* Timer */

.timer {
  border: 2px solid #4caf50;
  border-radius: 50%;
  padding: 25px;
  font-size: 48px;
}

/* Form ingresar palabra */

.form-palabra {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
}

.ingresar-palabra {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 8px 0 0 8px;
  width: 320px;
  height: 100%;
  padding: 10px;
}

.btn-palabra {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px 20px;
  cursor: pointer;
  height: 100%;
}

.btn-palabra:hover {
  background-color: #45a049;
}
